@CHARSET "UTF-8";
.cont-title {
	text-align:center;
	margin:30px 0;
}
.cont-inner {
	text-align:center;
}
.cont-inner table {
	margin:20px auto;
}
.cont-inner .inner-main {
	line-height:30px;
}
.cont-btn {
	margin:34px 0 ;
}
